body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  #countdown {
    font-size: 2em;
    margin-right: 10px;
  }
  
  body {
    background-color: #f0f0f0;
  }
  
  #countdown {
    background:linear-gradient(to right,rgb(54, 59, 197),rgb(240, 26, 44),rgb(157, 191, 187));
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
  }
  
